<%- include("partials/header.ejs") -%> 

<div class="box">
  <h1>Home</h1>

  <p> <%= startContent %> </p>
</div>

<div class="box">

  <% newPosts.forEach((newPost) => { %>
    <div class="item">
      <h2 class="postTitle"> <%= newPost.title %>  </h2>
      <p class="postBody"> <%= newPost.content %> </p>
    </div>
  <% }) %>
  
</div>

<%- include("partials/footer") -%>
