<%- include("partials/header.ejs") -%> 

<div class="box">
  <h1>Home</h1>

  <p> <%= startContent %> </p>
</div>

<div class="box">

  <% newPosts.forEach((newPost) => { %>
    <div class="item">
      <h2 class="postTitle"> <%= newPost.topic %> </h2> 
      <!-- 
        on home page, cutting the displayed post content to equal or less to 100 
        characters, using "str.slice(start, end)" method in this
       -->
      <p class="postBody"> <%= newPost.content.slice(0,100) + "..." %> <a href="/posts/<%= newPost._id %>">Read More</a> </p>
    </div>
  <% }) %>
  
</div>

<%- include("partials/footer") -%>
